.place__title{
    margin: 0;
    min-width: 460px;
    grid-area: title;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 960px) {
    .place__title {
        min-width: 440px;
    }
}

@media screen and (max-width: 925px) {
    .place__title {
      padding-right: 16px;
        min-width: 330px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 425px) {
    .place__title {
        margin-left: 16px;
        min-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}
