.place {
    display: grid;
    grid-template-columns: minmax(280px 1fr) 1fr;
    gap: 48px 40px;
    grid-template-areas:
        "title website"
        "image paragraphs"
    ;
}

@media screen and (max-width: 1200px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 965px) {
    .place {
      gap: 48px 28px;
        margin: 0 24px;

    }
}

@media screen and (max-width:  767px) {
    .place {
        margin: 0;
        gap: 32px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "website"
            "image"
            "paragraphs";
    }
}
