.footer {
    margin: 0 auto;
    padding: 92px 48px 24px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

@media screen and (max-width: 625px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
        padding: 64px 118px 24px 16px;
    }
}