.intro__title {
    max-width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .intro__title {
        margin-right: 37px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}
